/*
Tehtävä 3: (13p)

Sun lemppari-toteemieläin CSS on täällä taas.

Nyt on hyvä hetki laittaa sivusto näyttämään siltä, että siihen on käytetty ripaus rakkautta.
Tee uusia luokkia, joita käytät koodissa.

On myös ok käyttää Reactin inline-CSS:ää.

*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  display: flex;
  width: 320px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2rem;
}

.number-input input {
  height: 32px;
  width: 125px;
}

.calculate-button {
  width: 100%;
  height: 32px;
}

.result {
  width: 125px;
}

.App {
  text-align: center;
}
